* {}

.hidden {
    display: none;
}

#comment {}

p {}

[type="radio"] {}

img, video{
    width: 4in;
}

img:hover {
    display: block;
    margin: auto;
    width: 9in;
}

body {
    background-color: lightgrey;
    max-width: 10in;
    min-width: 4in;
    padding: 10pt 1in 10pt 1in;
    margin: 0 auto 0 auto;
}

header > h2 {
    border: none;
    text-align: center;
}

h2, h3 {
    margin-top: 1em;
    border: 2pt solid hsl(50, 50%, 50%);
    border-radius: 10px;
}

ol a,a:visited {
    text-decoration-line: none;
    color: rgb(0,0,250);
    font-size: 1.2rem;
}

#check-ins + ul > li {
    font-size: 1.1em;
    padding-top: 0.1ch;
    padding-bottom: 0.1ch;
    font-style: italic;
    
}

nav ~ section {
    height: fit-content;
}

h3 + p {}

input.hidden {}
